
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

body {
  padding-left: 150px;
  padding-right: 150px;
  background-color: black !important;
  color: white !important;
  width: 100%;

}


.document {
  position: relative;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden; 
  height: 820px;

}

.background-image {
  height: 100vh;
  overflow: hidden;
  position: absolute;
  
}


.background-image img {
  object-fit: cover;
  height: 2100px;
  width: 100%;
}

.content {
  position: relative;
  margin-top: 10px;
  font-family: "Fira Sans", sans-serif;

}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
  width: 100%; 
}

.nav-bar-inner {
  display: flex;
  align-items: center;
  gap: 80px;
}

.content ul {
  display: flex;
  list-style: none;
  gap: 26px;
  font-size: 20px;
}

.signup,
.signin {
  border: 1px solid #3379a5;
  height: max-content;
  width: max-content;
  padding: 5px 20px;
  text-align: center;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
}

.signup a {
  text-decoration: none;
  color: #3379a5;
  font-size: 20px;
}

.signin {
  background-color: #4CBBE4;
}
.signin a{
  color: white;
  text-decoration: none;
}
.signin:hover {
  background-color: #6acbee;
}
.login{
  display: flex;
  gap: 16px;
}

.body-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  width: 100%;
  max-width: 988px; 
  color: white;
}

.heading {
  font-size: 68px;
  font-family: "Fira Sans", sans-serif;
}

.discription p {
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

.join-button {
  border: 1px solid #3379a5;
  color: #3379a5;
  padding: 10px 20px;
  margin: auto;
  cursor: pointer;
  font-size: 20px;
  transition: 0.5s;
}
.join-button:hover{
  background-color: #3379a5;
  color: white;
}
.discription {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 60px;
  width: 100%; 
  max-width: 867px; 
}
.mobile-bar{
  display: none;
}

@media (max-width: 1024px){
  body {
    padding-left: 80px;
    padding-right: 80px;
  }
  .nav-bar {
    gap: 20px;

    align-items: flex-start;
  }
  .document{
    height: 115vh;
  }
  .content ul{
    font-size: 18px;
  }
  .login a{
    font-size: 19px;
  }
  .nav-bar-inner {
    width: auto;
    justify-content: space-between;
    margin-top: 20px;
  }

  .document {
    margin: auto;
  }

  .body-content {
    padding: 0 20px; 
    
  }
  .heading {
    font-size: 48px;
  }

  .discription p {
    font-size: 22px;
  }
}

@media (max-width:992px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
.document{
  height: 100vh;
}
  .nav-bar {
    gap: 10px;
    align-items: flex-start;
  }
  .nav-bar {
    display: none;
  }
  .mobile-bar{
    display: block;
  }
  .content ul{
    font-size: 16px;
  }
  .signup {
    flex-direction: column;
    gap: 10px;
  }
  .login a{
    font-size: 17px;
  }
  .signin,.signup{
    height: max-content;
    width: max-content;
    padding: 5px 10px;
  }

  .body-content {
    width: 100%;
    padding: 0 10px; 
  }
  .heading {
    font-size: 40px;
  }

  .discription p {
    font-size: 20px;
  }

  .join-button {
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  body {
    padding-left: 10px;
    padding-right: 10px;
  }

  .nav-bar {
    display: none;
  }
  .mobile-bar{
    display: block;
  }
.background-image img {
  object-fit: cover;
  height: 1500px;
  width: 100%;
}
  .nav-bar-inner {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .signup {
    gap: 5px;
  }
  .login{
    flex-direction: column;

  }
  .login a{
    font-size: 15px;
  }
  .bg-darks,
  .offcanvas-body,.offcanvas-header {
background-color: black !important;
}

  .heading {
    font-size: 28px;
  }

  .discription p {
    font-size: 12px;
  }

  .join-button {
    padding: 6px 12px;
    font-size: 14px;
  }
}
.flex-column{
  width: 300px;
  border: 1px solid red;
  margin-top: 10px;
}
.base_board{
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
.nav-link{
  color: white;
}
