
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    padding: 0 20px;
    overflow: hidden;
    padding-left: 80px;
}

.background {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

#circle1 {
    background: rgb(255, 59, 0);
    background: linear-gradient(119deg, rgba(255, 59, 0, 1) 0%, rgba(0, 163, 255, 1) 100%);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transform: translate(130px, -50px);
  }

#circle2 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    transform: translate(460px, 250px);
    background: rgb(138, 210, 239);
    background: linear-gradient(119deg, rgba(138, 210, 239, 1) 0%, rgba(23, 133, 181, 1) 100%);
}

#circle3 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    transform: translate(1000px, 0px);
    background: rgb(52, 168, 83);
    background: linear-gradient(119deg, rgba(52, 168, 83, 1) 0%, rgba(2, 87, 125, 1) 100%);
}

#circle4 {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    transform: translate(650px, -500px);
    background: rgb(138, 210, 239);
    background: linear-gradient(119deg, rgba(138, 210, 239, 1) 0%, rgba(23, 133, 181, 1) 100%);
}

.content {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    justify-content: center;
    align-items: center;
}

.join {
    font-size: 50px;
    height: max-content;
    width: max-content;
    margin-left: 0px;
}
.form_div{
    height: max-content;
    width: max-content;
    margin-right: 0px;
}

.login__register a:hover {
    color: #2D94C0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
   
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 0%);
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --h1-font-size: 1.75rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
input,
button {
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
}

body {
    color: var(--white-color);
    background-color: var(--black-color);
}

input,
button {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== login ===============*/
.login {
    position: relative;
    height: 100vh;
    display: grid;
    align-items: center;
}

.login__form {
    position: relative;
  background-color: rgba(255, 255, 255, 0.155);
  border: 2px solid var(--white-color);
  margin-inline: 1.5rem;
  padding: 2.5rem 1.5rem;
  border-radius: 1rem;
  backdrop-filter: blur(8px);
}

.login__title {
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 2rem;
}

.login__content,
.login__box {
    display: grid;
}

.login__content {
    row-gap: 1.75rem;
    margin-bottom: 1.5rem;
}

.login__box {
    grid-template-columns: max-content 1fr;
    align-items: center;
    column-gap: 0.75rem;
    border-bottom: 2px solid var(--white-color);
}

.login__icon,
.login__eye {
    font-size: 1.25rem;
}

.login__input {
    width: 100%;
    padding-block: 0.8rem;
    background: none;
    color: var(--white-color);
    position: relative;
    z-index: 1;
}

.login__box-input {
    position: relative;
}

.login__label {
    position: absolute;
    left: 0;
    top: 13px;
    font-weight: var(--font-medium);
    transition: top 0.3s, font-size 0.3s;
}

.login__eye {
    position: absolute;
    right: 0;
    top: 18px;
    z-index: 10;
    cursor: pointer;
}

.login__box:nth-child(2) input {
    padding-right: 1.8rem;
}

.login__check,
.login__check-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login__check {
    margin-bottom: 1.5rem;
}

.login__check-label,
.login__forgot,
.login__register {
    font-size: var(--small-font-size);
}

.login__check-group {
    column-gap: 0.5rem;
}

.login__check-input {
    width: 16px;
    height: 16px;
}

.login__forgot {
    color: var(--white-color);
}

.login__forgot:hover {
    text-decoration: underline;
}

.login__button {
    width: max-content;
    padding: 10px 20px;
    border-radius: 0.5rem;
    background-color: #40bdf3;
    color: white;
    font-weight: var(--font-medium);
    cursor: pointer;
    margin-bottom: 2rem;
}

.login__register a {
    color: var(--white-color);
    font-weight: var(--font-medium);
    transition: 0.2s;
}

.login__register a:hover {
    text-decoration: underline;
}

/* Input focus move up label */
.login__input:focus + .login__label {
    top: -12px;
    font-size: var(--small-font-size);
}

/* Input focus sticky top label */
.login__input:not(:placeholder-shown).login__input:not(:focus) + .login__label {
    top: -12px;
    font-size: var(--small-font-size);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 576px) {
    body{
        padding: 0px;
    }
    .content{
        flex-direction: column;
        margin: auto;
    }
    .join {
    font-size: 24px;
    text-align: center;
    width: 100%;
    
    }
    .login__form {

        padding: 2rem 1rem;
        
    }
    .form_div{
       width: 100%;
       align-items: center;
    }
}

/* For medium devices */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .join {
        font-size: 30px;
    }
    .login__form {
        width: 350px;
        padding: 4rem 2rem;
    }
}

/* For large devices  */
 @media screen and (min-width: 769px) {
    body {
        padding-left: 150px;
        padding-right: 150px;
    }
    .login__form {
        width: 400px;
        padding: 4rem 3rem 3.5rem;
        border-radius: 1.5rem;
    }
    .login__title {
        font-size: 2rem;
    }
}
